<ion-view title="Carriages occupancy">
    <ion-content class="has-header" padding="true">

        <div class="row">
            <button class="mySimpleSmallerButton"></button> <div style="font-size: 11">Available&nbsp</div>&nbsp&nbsp
            <button class="mySimpleSmallerButton orange"></button> <div style="font-size: 11">Reserved&nbsp</div>&nbsp&nbsp
            <button class="mySimpleSmallerButton red"></button> <div style="font-size: 11">Not available&nbsp</div>&nbsp&nbsp
            <button class="mySimpleSmallerButton green"></button> <div style="font-size: 11">Yours</div>&nbsp
        </div>

        <div class="centerTrain">

     <h3 class="timeSize0 centerText">Carriage 1</h3>

    <div class="card">
        <div class="row">
            <button class="mySimpleButton red"></button>
            <button ng-click="reserve($event)" class="mySimpleButton"></button>
            &nbsp  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
            <button ng-click="reserve($event)" class="mySimpleButton"></button>
            <button class="mySimpleButton orange"></button>
            <br>
        </div>
        <div class="row">
            <button class="mySimpleButton red"></button>
            <button ng-click="reserve($event)" class="mySimpleButton"></button>
            &nbsp  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
            <button class="mySimpleButton red"></button>
            <button ng-click="reserve($event)" class="mySimpleButton"></button>
            <br>
        </div>
        <div class="row">
            <button class="mySimpleButton orange"></button>
            <button ng-click="reserve($event)" class="mySimpleButton"></button>
            &nbsp  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
            <button class="mySimpleButton red"></button>
            <button ng-click="reserve($event)" class="mySimpleButton"></button>
            <br>
        </div>
        <div class="row">
            <button class="mySimpleButton red"></button>
            <button ng-click="reserve($event)" class="mySimpleButton"></button>
            &nbsp  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
            <button ng-click="reserve($event)" class="mySimpleButton"></button>
            <button ng-click="reserve($event)" class="mySimpleButton"></button>
            <br>
        </div>
        <div class="row">
            <button ng-click="reserve($event)" class="mySimpleButton"></button>
            <button ng-click="reserve($event)" class="mySimpleButton"></button>
            &nbsp  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
            <button class="mySimpleButton orange"></button>
            <button class="mySimpleButton red"></button>
            <br>
        </div>
        <div class="row">
            <button ng-click="reserve($event)" class="mySimpleButton"></button>
            <button ng-click="reserve($event)" class="mySimpleButton"></button>
            &nbsp  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
            <button ng-click="reserve($event)" class="mySimpleButton"></button>
            <button ng-click="reserve($event)" class="mySimpleButton"></button>
            <br>
        </div>
        <div class="row">
            <button ng-click="reserve($event)" class="mySimpleButton"></button>
            <button ng-click="reserve($event)" class="mySimpleButton"></button>
            &nbsp  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
            <button ng-click="reserve($event)" class="mySimpleButton"></button>
            <button class="mySimpleButton red"></button>
            <br>
        </div>
        <div class="row">
            <button ng-click="reserve($event)" class="mySimpleButton"></button>
            <button ng-click="reserve($event)" class="mySimpleButton"></button>
            &nbsp  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
            <button class="mySimpleButton red"></button>
            <button class="mySimpleButton orange"></button>
            <br>
        </div>
        <div class="row">
            <button class="mySimpleButton red"></button>
            <button ng-click="reserve($event)" class="mySimpleButton"></button>
            &nbsp  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
            <button ng-click="reserve($event)" class="mySimpleButton"></button>
            <button ng-click="reserve($event)" class="mySimpleButton"></button>
            <br>
        </div>
        <div class="row">
            <button ng-click="reserve($event)" class="mySimpleButton"></button>
            <button ng-click="reserve($event)" class="mySimpleButton"></button>
            &nbsp  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
            <button ng-click="reserve($event)" class="mySimpleButton"></button>
            <button ng-click="reserve($event)" class="mySimpleButton"></button>
            <br>
        </div>
    </div>

     <h3 class="timeSize0 centerText">Carriage 2</h3>

    <div class="card">
        <div class="row">
            <button class="mySimpleButton"></button>
            <button class="mySimpleButton"></button>
            &nbsp  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
            <button class="mySimpleButton"></button>
            <button class="mySimpleButton"></button>
            <br>
        </div>
        <div class="row">
            <button class="mySimpleButton orange"></button>
            <button class="mySimpleButton"></button>
            &nbsp  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
            <button class="mySimpleButton"></button>
            <button class="mySimpleButton red"></button>
            <br>
        </div>
        <div class="row">
            <button class="mySimpleButton red"></button>
            <button class="mySimpleButton"></button>
            &nbsp  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
            <button class="mySimpleButton"></button>
            <button class="mySimpleButton red"></button>
            <br>
        </div>
        <div class="row">
            <button class="mySimpleButton red"></button>
            <button class="mySimpleButton orange"></button>
            &nbsp  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
            <button class="mySimpleButton"></button>
            <button class="mySimpleButton"></button>
            <br>
        </div>
        <div class="row">
            <button class="mySimpleButton red"></button>
            <button class="mySimpleButton"></button>
            &nbsp  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
            <button class="mySimpleButton"></button>
            <button class="mySimpleButton red"></button>
            <br>
        </div>
        <div class="row">
            <button class="mySimpleButton red"></button>
            <button class="mySimpleButton"></button>
            &nbsp  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
            <button class="mySimpleButton"></button>
            <button class="mySimpleButton"></button>
            <br>
        </div>
        <div class="row">
            <button class="mySimpleButton red"></button>
            <button class="mySimpleButton"></button>
            &nbsp  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
            <button class="mySimpleButton"></button>
            <button class="mySimpleButton orange"></button>
            <br>
        </div>
        <div class="row">
            <button class="mySimpleButton"></button>
            <button class="mySimpleButton"></button>
            &nbsp  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
            <button class="mySimpleButton"></button>
            <button class="mySimpleButton"></button>
            <br>
        </div>
        <div class="row">
            <button class="mySimpleButton orange"></button>
            <button class="mySimpleButton"></button>
            &nbsp  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
            <button class="mySimpleButton red"></button>
            <button class="mySimpleButton"></button>
            <br>
        </div>
        <div class="row">
            <button class="mySimpleButton red"></button>
            <button class="mySimpleButton"></button>
            &nbsp  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
            <button class="mySimpleButton"></button>
            <button class="mySimpleButton"></button>
            <br>
        </div>
    </div>

     <h3 class="timeSize0 centerText">Carriage 3</h3>

    <div class="card">
        <div class="row">
            <button class="mySimpleButton"></button>
            <button class="mySimpleButton"></button>
            &nbsp  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
            <button class="mySimpleButton"></button>
            <button class="mySimpleButton"></button>
            <br>
        </div>
        <div class="row">
            <button class="mySimpleButton"></button>
            <button class="mySimpleButton"></button>
            &nbsp  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
            <button class="mySimpleButton"></button>
            <button class="mySimpleButton"></button>
            <br>
        </div>
        <div class="row">
            <button class="mySimpleButton"></button>
            <button class="mySimpleButton"></button>
            &nbsp  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
            <button class="mySimpleButton red"></button>
            <button class="mySimpleButton"></button>
            <br>
        </div>
        <div class="row">
            <button class="mySimpleButton"></button>
            <button class="mySimpleButton"></button>
            &nbsp  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
            <button class="mySimpleButton"></button>
            <button class="mySimpleButton"></button>
            <br>
        </div>
        <div class="row">
            <button class="mySimpleButton"></button>
            <button class="mySimpleButton"></button>
            &nbsp  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
            <button class="mySimpleButton"></button>
            <button class="mySimpleButton"></button>
            <br>
        </div>
        <div class="row">
            <button class="mySimpleButton"></button>
            <button class="mySimpleButton"></button>
            &nbsp  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
            <button class="mySimpleButton"></button>
            <button class="mySimpleButton"></button>
            <br>
        </div>
        <div class="row">
            <button class="mySimpleButton"></button>
            <button class="mySimpleButton"></button>
            &nbsp  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
            <button class="mySimpleButton"></button>
            <button class="mySimpleButton"></button>
            <br>
        </div>
        <div class="row">
            <button class="mySimpleButton red"></button>
            <button class="mySimpleButton"></button>
            &nbsp  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
            <button class="mySimpleButton"></button>
            <button class="mySimpleButton "></button>
            <br>
        </div>
        <div class="row">
            <button class="mySimpleButton red"></button>
            <button class="mySimpleButton"></button>
            &nbsp  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
            <button class="mySimpleButton red"></button>
            <button class="mySimpleButton"></button>
            <br>
        </div>
        <div class="row">
            <button class="mySimpleButton"></button>
            <button class="mySimpleButton"></button>
            &nbsp  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
            <button class="mySimpleButton"></button>
            <button class="mySimpleButton"></button>
            <br>
        </div>
    </div>

     <h3 class="timeSize0 centerText">Carriage 4</h3>

    <div class="card">
        <div class="row">
            <button class="mySimpleButton red"></button>
            <button class="mySimpleButton"></button>
            &nbsp  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
            <button class="mySimpleButton red"></button>
            <button class="mySimpleButton orange"></button>
            <br>
        </div>
        <div class="row">
            <button class="mySimpleButton red"></button>
            <button class="mySimpleButton"></button>
            &nbsp  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
            <button class="mySimpleButton"></button>
            <button class="mySimpleButton"></button>
            <br>
        </div>
        <div class="row">
            <button class="mySimpleButton"></button>
            <button class="mySimpleButton"></button>
            &nbsp  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
            <button class="mySimpleButton"></button>
            <button class="mySimpleButton orange"></button>
            <br>
        </div>
        <div class="row">
            <button class="mySimpleButton"></button>
            <button class="mySimpleButton"></button>
            &nbsp  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
            <button class="mySimpleButton"></button>
            <button class="mySimpleButton"></button>
            <br>
        </div>
        <div class="row">
            <button class="mySimpleButton"></button>
            <button class="mySimpleButton"></button>
            &nbsp  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
            <button class="mySimpleButton"></button>
            <button class="mySimpleButton"></button>
            <br>
        </div>
        <div class="row">
            <button class="mySimpleButton"></button>
            <button class="mySimpleButton"></button>
            &nbsp  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
            <button class="mySimpleButton"></button>
            <button class="mySimpleButton"></button>
            <br>
        </div>
        <div class="row">
            <button class="mySimpleButton red"></button>
            <button class="mySimpleButton"></button>
            &nbsp  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
            <button class="mySimpleButton red"></button>
            <button class="mySimpleButton"></button>
            <br>
        </div>
        <div class="row">
            <button class="mySimpleButton red"></button>
            <button class="mySimpleButton"></button>
            &nbsp  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
            <button class="mySimpleButton"></button>
            <button class="mySimpleButton"></button>
            <br>
        </div>
        <div class="row">
            <button class="mySimpleButton"></button>
            <button class="mySimpleButton"></button>
            &nbsp  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
            <button class="mySimpleButton"></button>
            <button class="mySimpleButton"></button>
            <br>
        </div>
        <div class="row">
            <button class="mySimpleButton red"></button>
            <button class="mySimpleButton"></button>
            &nbsp  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
            <button class="mySimpleButton"></button>
            <button class="mySimpleButton"></button>
            <br>
        </div>
    </div>

     </div>
    </ion-content>

</ion-view>
